<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
  <h1> Hi <%=@renter.first_name %>! </h1>

<p>Great news! <%= @owner.first_name%> (<%= @owner.email %>) has accepted your request to rent a dress.</p>
<p>Rental Details:</p>
<ul>
  <li> Dress:
    <ul>
      <li> Size: <%= @dress.size %></li>
      <li> Color: <%= @dress.color %></li>
      <li> Rent: <%= @dress.rent %></li>
    </ul>
  </li>
  <li> Start: <%= @rental.start_date %></li>
  <li> End: <%= @rental.end_date %></li>
</ul>

<p> To pay for this rental online, click on this link: "Pay Online" </p>

<p>xoxo</p>
<p>Sassy Hash Crew</p>

  <footer>
    <hr>
    &copy; {Sassy Hash} 2013
  </footer>
</body>

</html>