<div class="sticker">
  <div class="page-title">
    <h2>Add Your School </h2>
  </div>
</div>

<div class="box">
  <%= simple_form_for @user do |f| %>
    <div class="input-group">
      <% if @user.errors.any? %>
        <%= render :partial => "shared/error_messages", :locals => {:object => @user} %>
      <% end %>

      <%= f.association :school, :label => "School Information", :label_method => :name, 
          :include_blank => false, :require => true %>
      <%= f.input_field :class_year, :placeholder => "Class Year", :collection => (Date.today.year-8)..(Date.today.year+8), 
          :required => true, include_blank: false %>    
    </div>
    <div class="input-group">
      <%= f.button :submit, "Sign up" %>
    <% end %>
  </div>
</div>