<title>Your Closet</title>
<h1>Hi, <%= current_user.first_name %>. Welcome to DressShare.</h1>

<% if current_user.dresses.empty? %>
  <p> Your closet is empty. :( </p>
<% else %>
  <h4>  You have <%= pluralize(current_user.dresses.count, "dress") %> in your closet.</h4>

  <%= render :partial => 'shared/show_dresses', :locals => {:dresses => current_user.dresses} %>
<% end %>
<div class= row>
<%= link_to "Add A New Dress", new_dress_path %>
<%= link_to "Rent A Dress", dresses_path %>
</div>