<title>Your Closet</title>
<div class="sticker">
  <div class="page-title">
    <h2><%= current_user.first_name %>'s Dresses</h2>
  </div>
</div>

<div class="box">
  <% if current_user.dresses.empty? %>
    <h4> Your closet is empty. :( </h4>
  <% else %>
    <h4>  You have shared <%= pluralize(current_user.dresses.count, "dress") %>.</h4>

  <div class="dress-links">
    <span><%= link_to raw("<i class=\"icon-plus\"></i> Add A Dress"),
    new_dress_path %></span>
    <span><%= link_to raw("<i class=\"icon-heart\"></i> See All Dresses"),
    dresses_path %></span>
  </div>

  <div style="clear:both;"></div>

  <div class="dresseswrap">
    <%= render :partial => 'shared/show_dresses', :locals => {:dresses => current_user.dresses} %>
  </div>

  <% end %>
</div>