<% dresses.each_with_index do |dress, i| %>
  <span>
    <div class="dresswrap">
      <%= image_tag dress.photo1.url(:small) %>
      <span class="description">
        <ul>
          <li><%= link_to "#{dress.color} #{dress.brand} dress", dress_path(dress) %></li>
          <li>$<%= dress.rent %> Size <%= dress.size %> </li>
          <li>
            <span class="icons">
              <% if current_user %>
                <% if current_user.id == dress.owner_id %>
                  <%= link_to raw("<i class=\"icon-edit\"></i> Edit"), edit_dress_path(dress) %>
                  <%= link_to raw("<i class=\"icon-trash\"></i> Delete"), dress_path(dress), :method => :delete, :remote => true, :confirm => "Do you want to stop making money off of this dress? Click OK only if you're very very sure.", :class => "delete-dress-button" %>
                <% else %>
                  <%= link_to raw("<i class=\"icon-shopping-cart\"></i> Rent!"), new_dress_rental_path(dress) %>
                <% end %>
              <% end %>
            </span>
          </li>
        </ul>
      </span>
    </div>
  </span>
<% end %>


<script type="text/javascript">
 $(function(){
    $(".delete-dress-button").on("ajax:success", function(event) {
      $(this).closest(".dress").hide("puff", 1000);
  })
})

 $(function () {
    $(window).bind(“resize”, wrapFixer);
  });

  function wrapFixer( e ) {

    if($(window).width()<=480){
        $(‘.dresswrap’).addClass(‘form-horizontal’);
    }
    else{
        $(‘form’).addClass(‘form-horizontal’);
    }
  };

</script>