<ul>
<% dresses.each_with_index do |dress, i| %>
  <li><ul>
  <%= link_to "Dress #{i+1}", dress_path(dress) %></b>
  <span class="thumbnail">
  <li><%= image_tag photo_dress_url(dress) %>
  </span>
  <span class="text">
  <li>Brand: <%= dress.brand %></li>
  <li>Color: <%= dress.color %></li>
  <li>Size: <%= dress.size %></li>
  <li>Flattering On: <%= dress.body_types_string %></li>
  <li>Rental Price: <%= dress.rent %></li>
  <li>Comments: <%= dress.notes %></li>
  </span>

  <% if current_user %>
    <%= link_to "Rent This Dress!", new_rental_path(@dress) %>
    <% if current_user.id == dress.owner_id %>
      <%= link_to "Edit Dress", edit_dress_path(dress) %>
      <%= button_to "Delete This Dress", dress_path(dress), :method => :delete, :class => 'remote-delete', :remote => true, :confirm => "Are You Sure? You will delete this dress from the DressShare closet forever." %>
    <% end %>
  <% end %>
  </ul>
</li>
  <hr>
<% end %>

<script type="text/javascript">

</script>