<ul>
<% dresses.each_with_index do |dress, i| %>
  <li class="dress">
    <ul>
        <div class="row-fluid">
          <div class="span6" style ="margin:auto">
            <b><%= link_to "Dress #{i+1}", dress_path(dress) %></b>
            <li><b>Brand: </b><%= dress.brand %></li>
            <li><b>Color: </b><%= dress.color %></li>
            <li><b>Size: </b><%= dress.size %></li>
            <li><b>Flattering On: </b><%= dress.body_types_string %></li>
            <li><b>Rental Price: </b><%= dress.rent %></li>
            <li><b>Comments: </b><%= dress.notes %></li>
            <li style="float:right">
            <% if current_user %>
              <% if current_user.id == dress.owner_id %>
                <%= link_to raw("<i class=\"icon-edit\"></i> Edit"), edit_dress_path(dress) %>

                <%= link_to raw("<i class=\"icon-trash\"></i> Delete"), dress_path(dress), :method => :delete, :remote => true, :confirm => "Do you want to stop making money off of this dress? Click OK only if you're very very sure.", :class => "delete-dress-button" %>
              <% else %>
                <%= link_to raw("<i class=\"icon-shopping-cart\"></i> Rent!"), new_dress_rental_path(dress) %>
              <% end %>
            <% end %>
          </li>
          </div>
        <div class="span6" style="margin-left: 20px; margin:auto">
          <%= image_tag photo_dress_url(dress), :class => "thumbnail-img" %>
        </div>
      </div>
    </ul>
  </li>
<% end %>
</ul>

<script type="text/javascript">
 $(function(){
    $(".delete-dress-button").on("ajax:success", function(event) {
      $(this).closest(".dress").hide("puff", 1000);
  })
})

</script>