<div class="span5 offset1">
  <%= image_tag dress.photo1.url(:medium), :id => "photo1" %>
  <%= image_tag dress.photo2.url(:medium), :id => "photo2" unless dress.photo2_file_name.nil? %>
  <%= image_tag dress.photo3.url(:medium), :id => "photo3" unless dress.photo3_file_name.nil? %>
</div>
<div class="span5 description">
  <ul>
    <li><strong> Brand: &nbsp</strong> <%= dress.brand %></li>
    <li><strong> Color: &nbsp</strong> <%= dress.color %></li>
    <li><strong> Size: &nbsp</strong> <%= dress.size %></li>
    <li><strong> Flattering On: &nbsp</strong> <%= dress.body_types_string %></li>
    <li><strong> Rental Price: &nbsp</strong> <%= dress.rent %></li>
    <li><strong> Comments: &nbsp</strong> <%= dress.notes %></li>
  </ul>
</div>

<script type="text/javascript">
	$("#photo2").click(function(){

	});
</script>