<div><%= image_tag photo_dress_url(dress) %></div>
  <ul>
    <li>Brand: <%= dress.brand %></li>
    <li>Color: <%= dress.color %></li>
    <li>Size: <%= dress.size %></li>
    <li>Flattering On: <%= dress.body_types_string %></li>
    <li>Rental Price: <%= dress.rent %></li>
    <li>Comments: <%= dress.notes %></li>
  </ul>
  <hr>
<div >