<title> Borrow A Dress From Our Closet </title>
<div class="sticker">
  <div class="page-title">
    <h2>Request to Borrow A Dress</h2>
  </div>
</div>

<div class="box">
  <div class="dress-show-wrap">
  <%= render :partial => 'shared/show_dress', :locals => {:dress => @dress} %>
  </div>

  
    <%= simple_form_for [@dress, @rental] do |f| %>
      <% if @rental.errors.any? %>
        <%= render :partial => "shared/error_messages", :locals => {:object => @rental} %>
      <% end %>

      <div class="input-group">
        <%= f.input :start_date, :as => :string, :input_html => {:id => "start_date", :class => "datepicker"} %>

        <%= f.input :end_date, :as => :string, :input_html => {:id => "end_date", :class => "datepicker"} %>
      </div>

      <div class="input-group">
        <%= f.button :submit, "Request to Rent **", :input_html => {:class=> "btn-js-success"}, :remote=> true %>
      </div>

    <p style="float: right;"> **You will be notified if the owner accepts your request. </p>
</div>

<div style="clear: both"></div>

<script type="text/javascript">

$(function(){
  $('#start_date').datepicker({
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 2,
    showAnim: "slide",
    dateFormat: "yy-mm-dd",
    showButtonPanel: true,
    onClose: function( selectedDate ) {
        $( "#end_date" ).datepicker( "option", "minDate", selectedDate );
      }
  });

  $("#end_date").datepicker({
    defaultDate: "+1d",
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 2,
    showAnim: "slide",
    dateFormat: "yy-mm-dd",
    showButtonPanel: true,
    onClose: function( selectedDate ) {
        $( "#start_date" ).datepicker( "option", "maxDate", selectedDate );
      }
  });

})

</script>
  <% end %>
  </div class="clear:both">
