<h2>About Your Dress</h2>
<p> * Marks mandatory fields. </p>

<%= simple_form_for dress, :html => { :multipart => true } do |f| %>
  <% if dress.errors.any? %>
    <%= render :partial => "shared/error_messages", :locals => {:object => dress} %>
  <% end %>
  <div class="form-inputs">
    <div class="row">
      <div class="span4 offset1" >
      <%= f.input_field :brand, :input_html => {:id => "brands"}, :autofocus => true, :placeholder => "*Brand" %>
      <%= f.input_field :color, :input_html => {:id => "colors"}, :placeholder => "*Color" %>
      <%= f.input_field :rent, :placeholder => "*Rent. (0 If Free)", :as => :integer %>
        <%= select_tag("size[]", 
          options_for_select(
             Dress::SIZES.collect { |ff| ["Size #{ff}", ff] }, 
             Dress::SIZES),
         {:multiple=>false, :id => "sizeselect"}) %>

        <%= select_tag("body_types[]", 
          options_for_select(
            @body_types.collect { |ff| [ff.label, ff.id] }, @dress.body_types.collect { |fs| fs.id }),
         {:multiple=>true, :id => "bodytypeselect"}) %>
      </div>
      <div class="span4 offset1">
        <%= f.input :photo1, :as => :file, :label => "Photo 1*" %>
        <%= f.input :photo2, :as => :file, :label => "Photo 2"  %>
        <%= f.input :photo3, :as => :file, :label => "Photo 3"  %>
      </div>  
    </div>
    <div class="row">
      <div class="offset1">
      <%= f.input :notes, :placeholder => "Special instructions. Memories about that magical time you wore the dress and the world changed ... ", :input_html => {:class => "notes" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset1 form-actions">
      <%= f.button :submit %>
    </div>
  </div>

<% end %>


<script type="text/javascript">
 $(function() {
    var availableColors = <%= @colors.to_json.html_safe %>;

    var availableBrands = <%= @brands.to_json.html_safe %>;

    $( "#colors" ).autocomplete({
      source: availableColors
    });
    $("#brands").autocomplete({
      source: availableBrands
    });
  });

  $(document).ready(function() {
    $("#sizeselect").multiselect({
      selectedText: "*Size",
      noneSelectedText: "*Size",
      show: ["slide", 50],
      multiple: false,
      header: false
    });

    $("#bodytypeselect").multiselect({
      selectedText: "# of # selected",
      noneSelectedText: "*Flattering On",
      show: ["slide", 50],
      header: false
    });
    
    var buttons = new Array ("#sizeselect", "#bodytypeselect");
    for (var i=0; i<buttons.length; i++) {
    $(buttons[i]).multiselect("getButton").css("width", "220px");
    $(buttons[i]).multiselect("getButton").css("margin-bottom", "10px");
    };
  });


  // $("#dress_photo_1").click(function(){
  //   console.log("clicked");
  // });

  $(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        // done: function (e, data) {
        //     $.each(data.result.files, function (index, file) {
        //         $('<p/>').text(file.name).appendTo(document.body);
        //     });
        // }
    });
});
</script>
