<h2>About Your Dress</h2>
<p> * Marks mandatory fields. </p>

<%= simple_form_for dress, :html => { :multipart => true } do |f| %>
  <% if dress.errors.any? %>
    <%= render :partial => "shared/error_messages", :locals => {:object => dress} %>
  <% end %>
  <div class="form-inputs">
    <div class="row">
      <div class="span4 offset1" >
      <%= f.input_field :brand, :input_html => {:id => "brands"}, :autofocus => true, :placeholder => "*Brand" %>
      <%= f.input_field :color, :input_html => {:id => "colors"}, :placeholder => "*Color" %>
      <%= f.input_field :rent, :placeholder => "*Rent. (0 If Free)", :as => :integer %>
   
        <%= select_tag("size[]", 
          options_for_select(
             Dress::SIZES.collect { |ff| ["Size #{ff}", ff] }, 
             Dress::SIZES),
         {:multiple=>false, :id => "sizeselect"}) %>
        
        <%= select_tag("body_types[]", 
          options_for_select(
            @body_types.collect { |ff| [ff.label, ff.id] }, @dress.body_types.collect { |fs| fs.id }),
         {:multiple=>true, :id => "bodytypeselect"}) %>

      <%= f.input :photo1, :as => :file, :label => "Photo 1*" %>
      <%= f.input :photo2, :as => :file, :label => "Photo 2" 
      # :wrapper_html => {:hidden => :true} 
      %>
      <%= f.input :photo3, :as => :file, :label => "Photo 3"
      # :wrapper_html => {:hidden => :true} 
      %>
      </div>
        
    </div>
    <div>

      <%= f.input :notes, :label => "Special instructions. Memories about that time you wore this to formal and ... Nevermind.", :input_html => {:style => "margin: 0 auto; width: 95%; height: 100px; "} %>
    </div>
  </div>
  <div class="form-actions" style="margin-left: 70px;">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
 $(function() {
    var availableColors = <%= @colors.to_json.html_safe %>;

    var availableBrands = <%= @brands.to_json.html_safe %>;

    $( "#colors" ).autocomplete({
      source: availableColors
    });
    $("#brands").autocomplete({
      source: availableBrands
    });
    console.log($("#colors"));
    console.log(availableColors)
  });

  $(document).ready(function() {
        $("#sizeselect").multiselect({
          selectedText: "# of # selected",

        })
        $("#bodytypeselect").multiselect({
          selectedText: "# of # selected",

        });

    });

  $(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        // done: function (e, data) {
        //     $.each(data.result.files, function (index, file) {
        //         $('<p/>').text(file.name).appendTo(document.body);
        //     });
        // }
    });
});
</script>
