<h2>About Your Dress</h2>
<p> * Marks mandatory fields. </p>
<%= simple_form_for dress do |f| %>
  <% if dress.errors.any? %>
    <% render :partial => "shared/error_messages", :locals => {:object => dress} %>
  <% end %>

  <div class="form-inputs">
  <%= f.input :brand %>
  <%= f.input :color %>
  <%= f.input :size, :label => "Fits like a size X. (I wish Sisterhood of Traveling Pants existed too.)", :item_wrapper_class => 'inline', :collection => Dress::SIZES, :as => :radio_buttons%>
  <%= f.association :body_types, :label_method=> :label, :as => :check_boxes%>
  <%= f.input :rent, :hint => "($0 if free.) Rent is for 2 days. Dollars only. No Collis Baked Goods!" %>
  <%= f.input :photo_blob, :as => :file, :label => "A picture's worth a thousand words." %>
  <%= f.input :notes, :label => "Notes. Special instructions. Memories about that time you wore this to formal and ... Nevermind." %>
  </div>

  <div class="form-actions">
  <%= f.button :submit %>
  </div>

<% end %>