<%= form_for @search, :url => dresses_path, :method => :get do |f| %>
  <span class="custom-checkbox-label">
    Borrow
    <%= f.check_box :rental %>
  </span>
  <span class="custom-checkbox-label">
    Buy
    <%= f.check_box :sale %>
  </span>

  <%= select_tag("sizes[]", 
          options_for_select(
             Dress::SIZES.collect { |ff| ["Size #{ff}", ff] }, 
             Dress::SIZES),
         {:multiple=>true, :id => "sizeselect"}) %>
  <%= select_tag("body_types[]", 
          options_for_select(
            @body_types.collect { |ff| [ff.label, ff.id] }, @body_types.collect { |fs| fs.id }),
            {:multiple=>true, :id => "bodytypeselect"}) %>
  <%= select_tag("brands[]", 
          options_for_select(
             @brands, @brands),
         {:multiple=>true, :id => "brandselect"}) %>
  <%= select_tag("colors[]", 
          options_for_select(
             @colors, @colors),
         {:multiple=>true, :id => "colorselect"}) %>

  <%= f.number_field :min_rent, :placeholder => "Minimum rent"%>
  <%= f.number_field :max_rent, :placeholder => "Maximum rent" %>

<span class="form-action">
  <%= f.submit :search, :name => nil %>
</span>
<% end %>




<script type="text/javascript">
$(document).ready(function() {
  $("#sizeselect").multiselect({
    selectedText: "Size",
    noneSelectedText: "*Size",
    show: ["slide", 50],
    header: false,
    classes: "myClass"
  });

  $("#bodytypeselect").multiselect({
    selectedText: "# selected",
    noneSelectedText: "Body Types",
    show: ["slide", 50],
    header: false,
    classes: "myClass"
  });
  
  $("#brandselect").multiselect({
    selectedText: "# selected",
    noneSelectedText: "Brands",
    show:["slide",50],
    header: false,
    classes: "myClass"
  });

  $("#colorselect").multiselect({
    selectedText: "# selected",
    noneSelectedText: "Colors",
    show:["slide",50],
    header: false,
    classes: "myClass"
  });


  var buttons = new Array ("#sizeselect", "#bodytypeselect", "#brandselect", "#colorselect");
  for (var i=0; i<buttons.length; i++) {
  $(buttons[i]).multiselect("uncheckAll");
  $(buttons[i]).multiselect("getButton").css("width", "100px");
  $(buttons[i]).multiselect("getButton").removeClass('ui-widget ui-state-default ui-corner-all');
  };

  $('#search_min_rent').css('height','16px');
  $('#search_max_rent').css('height','16px');
});


</script>

