<%= simple_form_for @search, :url => dresses_path, :method => :get,
:class => 'search-form' do |f| %>
<div class="form-inputs">

  <%= select_tag("sizes[]", 
          options_for_select(
             Dress::SIZES.collect { |ff| ["Size #{ff}", ff] }, 
             Dress::SIZES),
         {:multiple=>true, :id => "sizeselect"}) %>

  <%= select_tag("body_types[]", 
          options_for_select(
            @body_types.collect { |ff| [ff.label, ff.id] }, @search.body_types.collect { |fs| fs.id }),
            {:multiple=>true, :id => "bodytypeselect"}) %>
  <%= select_tag("brand[]", 
          options_for_select(
             @brands, @brands),
         {:multiple=>true, :id => "brandselect"}) %>

  <%= select_tag("color[]", 
          options_for_select(
             @colors, @colors),
         {:multiple=>true, :id => "colorselect"}) %>

  <%= f.input_field :min_rent, :placeholder => "Minimum rent", :style => "width: 100px;" %>
  <%= f.input_field :max_rent, :placeholder => "Maximum rent", :style => "width: 100px;" %>
<span class="form-action input-append">
  <%= f.submit :search, :name => nil, :style => "margin-left: 20px;" %>
</span>
</div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#sizeselect").multiselect({
    selectedText: "Size",
    noneSelectedText: "*Size",
    show: ["slide", 50],
    header: false
  });

  $("#bodytypeselect").multiselect({
    selectedText: "# of # selected",
    noneSelectedText: "Body Types",
    show: ["slide", 50],
    header: false
  });
  
  $("#brandselect").multiselect({
    selectedText: "# of # selected",
    noneSelectedText: "Brands",
    show:["slide",50],
    header: false
  });

  $("#colorselect").multiselect({
    selectedText: "# of # selected",
    noneSelectedText: "Colors",
    show:["slide",50],
    header: false
  });


  var buttons = new Array ("#sizeselect", "#bodytypeselect", "#brandselect", "#colorselect");
  for (var i=0; i<buttons.length; i++) {
  $(buttons[i]).multiselect("getButton").css("width", "120px");
  $(buttons[i]).multiselect("getButton").css("margin-bottom", "10px");
  };
});


</script>

