<title> Dress Page</title>
<h2>
    <%= "Dress #{current_user.dresses.index(@dress)+1}" %>
    </h2>

<%= render :partial => 'shared/show_dress', :locals => {:dress => @dress} %>

    <p><%= link_to "Edit This Dress", edit_dress_path(@dress) %></p>
    <p><%= link_to "Add A Dress", new_dress_path %></p>
    <p><%= link_to "My Dresses", user_path(current_user) %></p>
    <p><%= button_to "Delete This Dress", dress_path(@dress), :method => :delete,
        :class => 'remote-delete', :remote => true,
        :confirm => "Do you want to stop making money off of this dress? Click OK only if you're very very sure." %></p>
</div>