<title> Dress Page</title>

<div class="sticker">
  <div class="page-title">
    <h2> About This Dress </h2>
  </div>
</div>
<div class='box'>
  <% if current_user != @dress.owner %>
    <div class="rent-button">
      <%= link_to raw("<i class=\"icon-shopping-cart\"></i> Rent This!"), new_dress_rental_path(@dress) %>
    </div>
    <div style="clear: both"></div>
  <% end %>

  <div class="dress-show-wrap">
      <%= render :partial => 'shared/show_dress', :locals => {:dress => @dress} %>
      
      <div class="dress-links">
      <%= link_to raw("<i class=\"icon-plus\"></i> Add Another"), new_dress_path %>
      <%= link_to raw("<i class=\"icon-home\"></i> My Dresses"), user_path(current_user) %>
      <%= link_to raw("<i class=\"icon-edit\"></i> Edit"), edit_dress_path(@dress) %>
      <%= link_to "<i class=\"icon-trash\"></i> Delete".html_safe, dress_path(@dress), :method => :delete,
          :class => 'remote-delete',
          :confirm => "Do you want to delete this dress? (and stop making money??) Click OK only if you're very very sure." %>
      </div>
  </div>

  <div class="clear:both"></div>
</div>