<title> Dress Page</title>
<h1> It's All in the Details </h1>

<div class="description">
<%= render :partial => 'shared/show_dress', :locals => {:dress => @dress} %>

    <span class="span2"><%= link_to raw("<i class=\"icon-edit\"></i> Edit This Dress"), edit_dress_path(@dress) %>
    </span>
    <span class="span2"><%= link_to raw("<i class=\"icon-plus\"></i> Add A Dress"), new_dress_path %>
    </span>
    <span class="span2"><%= link_to raw("<i class=\"icon-home\"></i> My Dresses"), user_path(current_user) %></span>
    <span class="span2"><%= link_to "<i class=\"icon-trash\"></i> Delete This Dress".html_safe, dress_path(@dress), :method => :delete,
        :class => 'remote-delete', :remote => true,
        :confirm => "Do you want to stop making money off of this dress? Click OK only if you're very very sure." %></span>
</div>