<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40080208-1']);
  _gaq.push(['_setDomainName', 'sassyha.sh']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>


  <meta name="google-site-verification" content="DvfPkdaWryOQDHSNe9gXCNTwDx8sdKq5g7v1Et3fzTg" />

  <title>DressShare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="everything">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner height-adjust">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">DressShare</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <%= link_to "The Closet", dresses_path %>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Page</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <% if user_signed_in? %>
              <li><%= link_to "Dresses", users_path(current_user)%></li>
              <li><%= link_to "Rentals", users_path(current_user)%></li>
              <% end %>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> About Us</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to "Contact",  contact_us_path %></li>
              <li><%= link_to "Her Story", our_story_path %></li>
              <li><%= link_to "Legal Stuff", legal_stuff_path %></li>
            </ul>
          </li>   
        </ul>
        <ul class="nav pull-right" >
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Hi, <%= current_user.first_name %>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li> <%= link_to "My Page", users_path(current_user) %>
                </li>
                <li> <%= link_to "Sign Out", signout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="navbar-text" style="color: #f4c2c2"> 
              <%= link_to "You aren't signed in. :(", signin_path %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>

  <% if flash[:notices] %>
    <div class="alert alert-success">
      <%= flash[:notices] %>
    </div>
  <% end %>

  <div class="center-wrap">
    <div class="box">
      <%= yield %>
    </div>
  </div>

  <div class="spacefooter">
  </div>

</div>

  <footer class="brown">
    <hr>
    <div class="footer-stuff">
      &copy; {Sassy Hash} 2013
    </div>
  </footer>


</body>
</html>

